body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d81d1d;
}

header {
    background: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

h2 {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 50px;
    display: inline-flex;
    align-items: center;
    background-color: blue;
}